<template name="hobbies">
    <div class="tab-pane animated fadeIn slideComoTeLlamas active">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center community animated slideInUp">
                <h1>¿CUÁLES SON SUS PASATIEMPOS?</h1>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2"><img class="d" src="img/slide6/slide6-01.png"></div>
                    <div class="col-md-2"><img class="s" src="img/slide6/slide6-02.png"></div>
                    <div class="col-md-2"><img class="c" src="img/slide6/slide6-03.png"></div>
                    <div class="col-md-2"><img class="l" src="img/slide6/slide6-04.png"></div>
                    <div class="col-md-2"><img class="t" src="img/slide6/slide6-05.png"></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    {{> nav}}
</template>
