<template name="amenidades">
    <a href="budget" class="col-xs-3 next-absolute">
        <img src="img/continuar.png" class="img-responsive pull-right animated flash infinite no-float "/>
    </a>
    <div class="tab-pane animated  fadeIn slideComoTeLlamas active">
        <div class="col-md-9 col-md-offset-1 text-center community animated fadeInLeft">
            <div class="col-md-12 amenities-title">
                <h1>AMENIDADES</h1>
                <div class="flex-row" style="justify-content: space-between">
                    <div class="flex-column" style="width: 48%;">
                        <div class="flex-row" style="justify-content: space-between;">
                            <div class="col-md-3">
                                <img src="img/amenities/lounge.png" alt="lounge"
                                     class=" animated pulse infinite img-responsive lounge">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/skydeck.png" alt="skydeck" class="img-responsive skydeck">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/BBQ.png" alt="bbq" class="img-responsive bbq">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/wifi.png" alt="bbq" class="img-responsive bbq">
                            </div>
                            <!--<div class="col-md-3"></div>-->
                        </div>
                        <div class="flex-row" style="width: 100%; justify-content: center">
                            <h2 class="amenities-titles social">Ü SOCIAL</h2>
                        </div>
                    </div>
                    <div class="flex-column" style="width: 48%;">
                        <div class="flex-row" style="justify-content: space-between;">
                            <div class="col-md-3">
                                <img src="img/amenities/piscinas.png" alt="piscinas"
                                     class="animated pulse infinite img-responsive piscinas">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/gym.png" alt="gym"
                                     class=" animated pulse infinite img-responsive gym">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/lasabana.png" alt="sabana" class="img-responsive sabana">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/escaleras.png" alt="escaleras" class="img-responsive escaleras">
                            </div>
                        </div>
                        <div class="flex-row" style="width: 100%; justify-content: center">
                            <h2 class="amenities-titles deportes">Ü DEPORTES</h2>
                        </div>
                    </div>
                </div>
                <div class="flex-row" style="justify-content: space-between">
                    <div class="flex-column" style="width: 48%;">
                        <div class="flex-row" style="justify-content: center">
                                <div class="col-md-3">
                                    <img src="img/amenities/playground.png" alt="playground"
                                         class="img-responsive playground">
                                </div>
                                <div class="col-md-3">
                                    <img src="img/amenities/playroom.png" alt="playroom"
                                         class=" img-responsive playroom">
                                </div>
                                <div class="col-md-3">
                                    <img src="img/amenities/piscina.png" alt="piscina"
                                         class="animated pulse infinite img-responsive piscina">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        <div class="flex-row" style="width: 100%; justify-content: center">
                            <h2 class="amenities-titles ninos">Ü NIÑOS</h2>
                        </div>
                    </div>
                    <div class="flex-column" style="width: 48%;">
                        <div class="flex-row" style="justify-content: space-between;">
                            <div class="col-md-3">
                                <img src="img/amenities/lavanderia.png" alt="lavanderia"
                                     class="img-responsive lavanderia">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/seguridad.png" alt="seguridad" class="img-responsive seguridad">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/parqueo.png" alt="parqueo" class="img-responsive parqueo">
                            </div>
                            <div class="col-md-3">
                                <img src="img/amenities/triple.png" alt="parqueo" class="img-responsive parqueo">
                            </div>
                            <!--<div class="col-md-3"></div>-->
                        </div>
                        <div class="flex-row" style="width: 100%; justify-content: center">
                            <h2 class="amenities-titles servicios">Ü SERVICIOS</h2>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    {{> nav}}
</template>


