<template name="fachadapic">
   <div class=" tab animated fadeIn slideComoTeLlamas active">
       <div class=" animated fadeInDown">
               <div class="col-md-12 col-lg-12">
                   <div class="modal-header">
                           <div class="modal-title container-fluid clearfix">
                               <div class="col-xs-3"></div>
                               <h4  class="col-xs-6"> Vista {{nombre}}</h4>
                               <a href="design" class="col-xs-3">
                                   <img src="img/continuar.png" class=" img-responsive pull-right animated flash infinite no-float" />
                               </a>

                           </div>
                       <div class=" modal-body text-center">
                           <img src="{{url}}" class="img-responsive thumbnail n" width="70%"/>
                       </div>
                   </div>

               </div>
           </div>
   </div>


    {{> nav}}
</template>
