<template name="perks">
    <div class="tab-pane animated fadeIn slideComoTeLlamas active">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center community animated slideInUp">
                <h1>¿PORQUE BUSCA NUESTRA UBICACIÓN?</h1>
                <div class="row">
                    <div class="col-md-3 t"><img src="img/slide8/slide8-01.png"></div>
                    <div class="col-md-3 v"><img src="img/slide8/slide8-02.png"></div>
                    <div class="col-md-3 u"><img src="img/slide8/slide8-03.png"></div>
                    <div class="col-md-3 f"><img src="img/slide8/slide8-04.png"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    {{> nav}}
</template>
