<template name="amenidad">
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="big-header" style="min-height:110px">{{nombre}}</div>
            </div>
        </div>
        <div class="flex-row" style="width: 100%; justify-content: center;">
                <img src="{{url}}" class="img-responsive thumbnail amenidad-foto" style="width: 70%; height: 90%;">
        </div>

    </div>
    {{> nav}}
</template>