<template name="ecivil">
    <div class="tab-pane animated fadeIn slideComoTeLlamas active">
        <div class="col-md-9 col-md-offset-1 text-center animated slideInUp">
            <h1 class="row conquien-title">¿Con quién comparte su vida?</h1>
            <div class="row conquien-container">
                <div class="row">
                    <div class="col-md-4 animated pulse infinite conquien as"><img src="img/comparte/h/h1.png"></div>
                    <div class="col-md-4 animated pulse infinite conquien p"><img src="img/comparte/m/pareja.png"></div>
                    <div class="col-md-4 animated pulse infinite conquien a1"><img src="img/comparte/h/h2.png"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 animated pulse infinite conquien a2"><img src="img/comparte/h/h3.png"></div>
                    <div class="col-md-4 animated pulse infinite conquien p1"><img src="img/comparte/h/h4.png"></div>
                    <div class="col-md-4 animated pulse infinite conquien p2"><img src="img/comparte/h/h5.png"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 animated pulse infinite conquien o"><img src="img/comparte/h/h6.png" style="height: 150px"></div>
                </div>
            </div>
        </div>
    </div>
    {{> nav}}
</template>
