<template name="fachada">
  <div class="tab-pane animated fadeIn slideComoTeLlamas active" id="tab9">
    <div class="col-md-9 col-md-offset-1 text-center community animated fadeInLeft" style="padding-top: 75px">
      <h1 style="margin-bottom: 50px;">¿CUAL VISTA LE GUSTARÍA TENER?</h1>
      <div class="col-md-6 text-center"><img src="img/F-Norte.jpg" class="img-responsive thumbnail n"/>
        <h3 style="font-size: 150%">Vista Norte</h3>
      </div>
      <div class="col-md-6 text-center"><img src="img/F-Sur.jpg" class="img-responsive thumbnail s">
        <h3 style="font-size: 150%">Vista Sur</h3>
      </div>
    </div>
  </div>
  {{> nav}}
</template>
