<template name="genero">
  <div class="row tab-pane animated fadeIn slide4 active" id="tab4">
    <div class="title title-gender ¿Con quién comparte su vida?text-center">
      <h1>¿Quién sos?</h1>
    </div>
    <div class="row gender-pic-container">
      <div class="col-md-6 col-xs-6 animated fadeInLeft"><img src="img/genero/mujer.jpg" class="gender-pic img-responsive f"></div>
      <div class="col-md-6 col-xs-6 animated fadeInRight"><img src="img/genero/hombre.jpg" class="gender-pic img-responsive m"></div>
    </div>
  </div>
  {{> nav}}
</template>
