<template name="budget">
        <div class="tab-pane animated slideComoTeLlamas fadeIn">
            <div class="col-md-10 col-md-offset-1 text-center community animated fadeInRight">
                <h1>Presupuesto de compra</h1>
                <p class="100 btn btn-warning btn-lg"> Menos de $100.000</p>
                <p class="101 btn btn-warning btn-lg"> $101.000 a $150.000</p>
                <p class="151 btn btn-warning btn-lg"> $151.000 a $200.000</p>
                <p class="200 btn btn-warning btn-lg"> Más de $200.000</p>
            </div>
            </div>

    {{> nav}}
</template>


