<template name="tier">

    <div class="tab-pane animated fadeIn  active">
        <div class="row title center">
        <h1 class="slide5-title">DISEÑE SU APARTAMENTO A PARTIR DE ESTAS DISTRIBUCIONES</h1>
    </div>
        <div class="tier col-md-12 slide5 animated fadeInLeft">
            <div class="row ">
                <div class="col-md-9 tier-container clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-center column-headers">
                                (40M²)
                            </div>
                            <img src="img/aptos/a1.jpg" class="img-responsive  a">
                            <img src="img/aptos/a2.jpg" class="img-responsive  a2">
                        </div>
                        <div class="col-md-4">

                            <div class="text-center column-headers">
                                (60M²)
                            </div>
                            <img src="img/aptos/b1.jpg" class="img-responsive   b">
                            <img src="img/aptos/b2.jpg" class="img-responsive  b2">

                        </div>
                        <div class="col-md-5">
                            <div class="text-center column-headers">
                                (80M²)
                            </div>
                            <img src="img/aptos/c1.jpg" class="img-responsive  c">
                            <img src="img/aptos/c2.jpg" class="img-responsive  c2">

                        </div>
                    </div>
                </div>

            </div>
            <div class="row text-center column-headers">
                    SELECCIONE CUALQUIER DISTRIBUCIÓN
            </div>
        </div>


    </div>

    {{> nav}}
</template>
