<template name="design">
    <div class="tab-pane animated fadeIn slide3 active">
        <div class="row title center">
            <h1>IDEAS PARA CUANDO DISEÑE SU APARTAMENTO</h1>
        </div>
        <div class=" row center container col-md-8  col-md-offset-2 col-xs-12 col-xs-offset-0  animated-circle-container">
            <div class="bv col-md-3  col-xs-4 ">
                <a href="designView" >
                    <img src="img/moods/blackvelvetBTN.png" class=" img-responsive animated pulse infinite " />
                </a>
            </div>
            <div class="cd col-md-3   col-xs-4">
                <a href="designView" >
                    <img src="img/moods/cleandreamerBTN.png" class=" img-responsive animated pulse infinite " />
                </a>
            </div>
            <div class="ls col-md-3 col-xs-4">

                <a href="designView" c>
                    <img src="img/moods/loudsmileBTN.png" class=" img-responsive animated pulse infinite " />
                </a>
            </div>
        </div>
    </div>
    {{> nav}}
</template>