<template name="nameform">
  <div class="tab-pane animated fadeIn slideComoTeLlamas active">
    <button class="next" form="name-form">
      <img src="img/continuar.png" class="img-responsive pull-right animated flash infinite" id="continuarStart">
    </button>
      <div class="col-md-3 "></div>
    <div class=" col-md-6 text-center community animated fadeInLeft">
        <div class="name-container">
            <h1>¿Cómo te llamas?
                <small style="color: #00bbc4 !important">Nos gustaría ayudarle a encontrar su apartamento ideal de acuerdo a sus gustos y necesidades</small>
            </h1>
            <form class="name-form" id="name-form">
                <input type="text" name="text" id="nombreFormStart" class="main-input form-control text-center" placeholder="Ingrese solamente su nombre">
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  {{> nav}}
</template>
